@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.CodeMirror {
  max-height: 250px;
  min-height: 250px;
  background-color: theme("backgroundColor.inherit") !important;
  color: theme("textColor.inherit") !important;
}

.CodeMirror-scroll {
  max-height: 250px;
  min-height: 250px;
  background-color: theme("backgroundColor.inherit");
  color: theme("textColor.inherit");
}

.editor-toolbar > a {
  color: theme("textColor.inherit") !important;
}

#editor-ide {
  display: none;
}
